In [1]:
import mysql.connector as connector

In [2]:
connector = connector.connect(
    user = '******',
    password = '********',
    db = 'littlelemondb'
)

In [6]:
cursor = connector.cursor()
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)
result = cursor.fetchall()
for row in result:
    print(row)

('bookings',)
('customerinfo',)
('customers',)
('employees',)
('items',)
('menu',)
('orderdelivery',)
('orders',)
('orderview',)

In [7]:
Task_3_query = """select c.CustomerID,CONCAT(FirstName," ",LastName) as FullName,o.OrderID,O.BillAmount,m.MenuName,m.Cuisine
    from orders o inner join menu m on o.MenuID = m.MenuID
inner join Bookings b on o.BookingID = b.BookingID
inner join Customers c on b.CustomerID = c.CustomerID 
where  o.BillAmount > 60"""

In [8]:
cursor.execute(Task_3_query)

In [ ]:
column_name =cursor.column_names()
print(column_name)
resultof3 = cursor.fetchall()
for data in resultof3:
    print(data)